<a href="https://colab.research.google.com/github/eipshita/Cyberbullying-Detection-for-Chakma-Language-on-Social-Media/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re,json,nltk
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score,precision_score,recall_score,f1_score
from tensorflow.keras.preprocessing.text import Tokenizer
path ='/content/drive/My Drive/Colab Notebooks/NLP Projects/test/' 
stopwords_list = path+'bangla_stopwords.txt'
class color: # Text style
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

In [ ]:
data = pd.read_csv('/content/English Data.csv',encoding='UTF-8')

data

,Comments,Posts,Source,English Translation,Category,100%
0,nomonsuk,NaN,Facebook,third gender,men/boy,100.0
1,morahaji sibi re chok padai di i,NaN,Facebook,someone wishing other person to die who likes ...,men/boy,50.0
2,Ettun para doll mili sok nw pelede i,NaN,Facebook,don't you find a beautiful girl rather than th...,woman/girl,30.0
3,huccor huttun ta chul an digile o mile mudi nw...,NaN,Facebook,his hair is mixed product/hybrid that no one w...,men/boy,80.0
4,tobbabe,NaN,Facebook,your father,men/boy,100.0
...,...,...,...,...,...,...
949,Mor sidu jebar tenga nei,NaN,Facebook,I don't have enough money to go there,men/women,0.0
950,ami chor ot dur dekki,NaN,Facebook,we saw turtles on the beach,men/women,0.0
951,ami ranjuni an dekki essi,NaN,Facebook,we saw a rainbow today,men/women,0.0
952,mui tottei baji agong,NaN,Facebook,I am alive for you,men/women,0.0
953,gessikguri mui sian hobor nw pedung,NaN,Facebook,Actually I don't know about this,men/women,0.0

In [ ]:
data = pd.read_csv('/content/Bengali Data.csv',encoding='UTF-8')

data

,Comments,Posts,Source,English Translation,Category,100%
0,আধিবাসী না দাদা উপজাতি,NaN,Facebook,"brother, it's tribal not indegeneous",community,100
1,প্রথমে মনে গোজ্জোং লাগেজ বুক্কে,NaN,Tiktok,first I thought she was carrying lugguage(mock...,woman/girl,60
2,জুম্ম হাপ্পো,NaN,Facebook,shifting cultivator who eats snake,community + men/boy,80
3,চিদোলি,NaN,Facebook,woman who eats ferminated fishpaste(fishpaste ...,women/girls,100
4,মেদে রা হও হি দেগিনে লাং তগহ,NaN,Facebook,"eat stool,what you find connection between them",men/boys,100
...,...,...,...,...,...,...
98,এঝ দ্ব শীতকাল ন এজে...হুত্তুন সুক পেলে,NaN,Facebook,it is not winter yet..where did you get those,food,0
99,জিবনত আর মোক লোই নপারিবে সেক্কে,NaN,Facebook,you can never find a wife,men/boys,50
100,ভাই তুই বৌ ন পেবে,NaN,Facebook,brother you will not get a wife,men/boys,50
101,"পাগারালোই পিঁয়াজ হুদোস তরে হন্না লব, গিন গরে পারা",NaN,Facebook,"you cut onions with saw who will marry you, yo...",men/boys,50
102,"তুই এ পাপী নয়,বানা প্রাণী হত্যা গরচ্ছি",NaN,Facebook,"you are very sinful,you only kill animals",men/boys,50

In [ ]:
print("Total Data:",len(data.Comments),
      "\nTotal Posts:",len(data.Posts))

Total Data: 1058
Total Posts: 1058

In [ ]:
data = pd.read_csv('/content/total dataset.csv',encoding='UTF-8')

data

,Comments,Posts,Source,English Translation,Category,100%
0,nomonsuk,NaN,Facebook,third gender,men/boy,100.0
1,morahaji sibi re chok padai di i,NaN,Facebook,someone wishing other person to die who likes ...,men/boy,50.0
2,Ettun para doll mili sok nw pelede i,NaN,Facebook,don't you find a beautiful girl rather than th...,woman/girl,30.0
3,huccor huttun ta chul an digile o mile mudi nw...,NaN,Facebook,his hair is mixed product/hybrid that no one w...,men/boy,80.0
4,আধিবাসী না দাদা উপজাতি,NaN,Facebook,"brother, it's tribal not indegeneous",community,100.0
...,...,...,...,...,...,...
1053,ami chor ot dur dekki,NaN,Facebook,we saw turtles on the beach,men/women,0.0
1054,ami ranjuni an dekki essi,NaN,Facebook,we saw a rainbow today,men/women,0.0
1055,mui tottei baji agong,NaN,Facebook,I am alive for you,men/women,0.0
1056,gessikguri mui sian hobor nw pedung,NaN,Facebook,Actually I don't know about this,men/women,0.0
1057,NaN,বেজ গরের,Facebook,She is doing excessive,women/girls,50.0

In [ ]:
data.columns

Index(['Comments', 'Posts', 'Source', 'English Translation', 'Category',
       '100%'],
      dtype='object')

In [ ]:
def process_comments(Comments): 
    Comments = re.sub('[^\u0980-\u09FF]',' ',str(Comments)) #removing unnecessary punctuation
    return Comments

In [ ]:
data['cleaned'] = data['Comments'].apply(process_comments)  

# print some cleaned reviews from the dataset
sample_data = [10,78,75,76]
for i in sample_data:
     print('Original:\n',data.Comments[i],'\nCleaned:\n',
           data.cleaned[i],'\n')

Original:
 Edee baji jei n baron ful o lge
Cleaned:


Original:
 ebe do mui
Cleaned:


Original:
 ওহ্...বুক আজতে আজতে লেদা মুই
Cleaned:
 ওহ্   বুক আজতে আজতে লেদা মুই

Original:
 CNG driver un beshi beadop jian sotto hoda. Tara bike anire chokot nobajan ekkere
Cleaned: